<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <!-- Se agrega el link a los estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
      </div>

      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success" type="submit">Cargar</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Customer Name</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td scope="row">[[item.CustomerID]]</td>
                <td scope="row">[[item.ContactName]]</td>
                <td scope="row">[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>




    </div>
    <!-- Fin del container -->


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          }

        };

      }
      incrementar() {
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      };
      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }

      
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>