<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
      <!-- Se agrega el link a los estilos de bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/png/128/1473/1473504.png" alt="">
      </div>

      <div class="row">
        <button type="button" name="button" class="btn btn-success">Cargar datos</button>
      </div>

      <div class="row">
        <table class="table table-striped col-lg-6 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <th>Selena</th>
              <th>Mora</th>
            </tr>
            <tr>
              <th>2</th>
              <th>Dolores</th>
              <th>Fuertes</th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
